body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: #f0f0f0;
}

.main-window{
    width: 100%;
    max-width: 690px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-header h4{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;   
}

hr{
    height: 1px;
    margin: 12px 0;
    border: 0;
    border-top: 1px solid #c0c0c0;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.panel-body{
    padding: 15px;
}

.radio-buttons{
    padding: 12px 15px;
}

.form-group{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: table;
    clear: both;
}

.input-col{
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-control{
    padding-left: 13px;
    padding-right: 13px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    margin: 0;
    opacity: 0.7;
    
    background: #ffffff;
    background: -webkit-linear-gradient(#ffffff,#F0F0F0);
    background: -o-linear-gradient(#ffffff, #F0F0F0);
    background: -moz-linear-gradient(#ffffff, #F0F0F0);
    background: linear-gradient(#ffffff, #F0F0F0);   
}

.padding-left{
    padding-left: 10px; 
}

.padding-right{
    padding-right: 10px; 
}

.select-width{
    margin-left: 0;
    margin-right: 0;
    width: 197px;
}

.btn{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.newsletter{
    margin-top: 25px;
}

.slider{
    width: 100%;
}

.time-control{
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 5px 10px;
    opacity: 0.7;
    
    background: #ffffff;
    background: -webkit-linear-gradient(#ffffff,#F0F0F0);
    background: -o-linear-gradient(#ffffff, #F0F0F0);
    background: -moz-linear-gradient(#ffffff, #F0F0F0);
    background: linear-gradient(#ffffff, #F0F0F0);
}

.newsletter, .regulations{
    margin-left: 0;
}

.form-control:required {
    background: #ffffff;
		
    background: -webkit-linear-gradient(#ffffff,#F0F0F0);
    background: -o-linear-gradient(#ffffff, #F0F0F0);
    background: -moz-linear-gradient(#ffffff, #F0F0F0);
    background: linear-gradient(#ffffff, #F0F0F0);   
}

.form-control:required:valid {
    border: 1px solid #5cb85c;
    
    background: #5cb85c;
    background: -webkit-linear-gradient(#ffffff,#5cb85c);
    background: -o-linear-gradient(#ffffff, #5cb85c);
    background: -moz-linear-gradient(#ffffff, #5cb85c);
    background: linear-gradient(#ffffff, #5cb85c);
}

.form-control:required:invalid {
    border: 1px solid #d9534f;
    
    background: #d9534f;
    background: -webkit-linear-gradient(#ffffff,#d9534f);
    background: -o-linear-gradient(#ffffff, #d9534f);
    background: -moz-linear-gradient(#ffffff, #d9534f);
    background: linear-gradient(#ffffff, #d9534f);
}





::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}