@import "_custom.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background: url("../img/background.jpg") no-repeat;
}

.main-window {
  background-color: var(--light);
  border-radius: $border-radius;
  max-width: 400px;
}

.success {
  border: 1px solid var(--success);
}
.danger {
  border: 1px solid var(--danger);
}

.html-only {
  .form-control:required {
    border: 1px solid var(--danger);
  }
  .form-control:required:valid {
    border: 1px solid var(--success);
  }
  .form-control:required:invalid {
    border: 1px solid var(--danger);
  }
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}

label {
  line-height: 35px;
}